<p id="notice"><%= notice %></p>

<p>
  <strong>Workout:</strong>
  <%= @workout.title %><br>
  <p>
    <strong>Exercises:</strong>
  <ul>
  <% @workout.exercises.each do |c|  %>
      <ol><%= link_to "#{c.name}", exercise_path(c) %></ol>
    <% end %>
  </ul>
</p>

 <%= link_to 'Edit Workout', edit_workout_path(@workout), class: "button mt4"  if workout_author(@workout) %>
<%= link_to 'Back', workouts_path, class: "button mt4" %>