<%= form_for [@workout, @exercise] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sets %>
    <%= form.text_field :sets %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :workout_id, "Workout Name" %><br>
    <%= form.collection_select :workout_id, Workout.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
